<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="ds_css.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/ds_css.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/content.css') }}">
    <!-- <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script> -->
    <title>CriCat</title>
</head>

<body class="bgpage">
    <!-- <div id="divout"></div>
    <button type="button" pys-onClick="func">oupt</button> -->
    <div class="fstyl2 toplogo">
        <h1><b>CRICAT</b> predictor</h1>
        <label id="logo"><label>
    </div>
    <main class="main">
        <form name="match_data" action="." method="post">
            <div class="matchtype">
                <label class="fontstyle" for="matchtype"><b>Select Format:</b></label>
                <select name="matchtype" id="matchtype">
                    <option value="T20i">T20I</option>
                    <option value="odi">ODI</option>
                    <option value="Test">TEST</option>
                </select>
                <!-- <input class="cnstr" type="text" id="mat_format" name="mat_format" placeholder="Match Format"> -->
            </div>
            <div class="teams">
                <!-- <input type="text" class="inputteams" id="bat_team" name="bat_team" placeholder="Enter Batting Team"> -->
                <label class="fontstyle" for="bat_team"><b>Team Batting: </b></label>
                <select name="bat_team" class="inputteams" id="bat_team">
                    <option value="England">England</option>
                    <option value="India">India</option>
                    <option value="Australia">Australia</option>
                    <option value="Pakistan">Pakistan</option>
                    <option value="Afghanistan">Afghanistan</option>
                    <option value="Zimbabwe">Zimbabwe</option>
                    <option value="Sri Lanka">Sri Lanka</option>
                    <option value="New Zealand">New Zealand</option>
                    <option value="Bangladesh">Bangladesh</option>
                    <option value="South Africa">South Africa</option>
                </select>
                <label class="fontstyle" for="bowl_team"><b>Team Fielding: </b></label>
                <select name="bowl_team" class="inputteams" id="bowl_team">
                    <option value="Australia">Australia</option>
                    <option value="India">India</option>
                    <option value="England">England</option>
                    <option value="Pakistan">Pakistan</option>
                    <option value="Afghanistan">Afghanistan</option>
                    <option value="Bangladesh">Bangladesh</option>
                    <option value="Zimbabwe">Zimbabwe</option>
                    <option value="Sri Lanka">Sri Lanka</option>
                    <option value="New Zealand">New Zealand</option>
                    <option value="South Africa">South Africa</option>
                </select>
                <!-- <input type="text" class="inputteams" id="bowl_team" name="bowl_team" placeholder="Enter Bowling Team"> -->
            </div>
            <!-- this is original work of the BlackBox, do not try to copy it -->
            <div class="teamlist">
                <textarea class="inputteamsl" id="team1" name="team1"
                    placeholder="Enter Batting Team Player List.In the order they are playing."></textarea>
                <div class="constraints">
                    <input class="cnstr" type="text" id="ground" name="ground" placeholder="Enter Ground">
                    <input class="cnstr" type="text" id="tw" name="tw" placeholder="Player's Weightage">
                    <input class="cnstr" type="text" id="gw" name="gw" placeholder="Ground's Weightage">
                    <input class="cnstr" type="text" id="pw" name="pw" placeholder="Past's Weightage">
                </div>
                <textarea class="inputteamsl" id="team2" name="team2"
                    placeholder="Enter Bowling Team Player List. In the order they are playing."></textarea>
            </div>
            <div class="defaultteams">
                <input type="checkbox" id="default1" onclick="defaultteam1()">Current Team
                <input type="checkbox" id="default2" onclick="defaultteam2()">Current Team
            </div>
            <div class="container" onmouseenter="warnIfNull()">
                <input type="submit" id="result_btn" value="PREDICT">
            </div>
        </form>
    </main>
    <!-- <footer>
            Proudly created by the team BlackBox, it is original do not attempt to copy.
    </footer> -->
    <button id="help" class="fontstyle" onclick="comeon()">
        HelpBox
    </button>
    <div id="helpbox">
        <div class="exitbut">
            <button id="exit" onclick="exit()">Close X</button>
        </div>
        <div class="team_content">
            <p><centre><b><u>Welcome to CriCat</u></b></centre><br>
                <br>
                CriCat is a cricket match win predictor application or tool built to predict the results of international cricket matches between two teams. As the outcome, it gives the probability in percentage to represent the chances of the winning team.
                This is based on the user’s needs, as for every one of us, the criterion for a team to win a cricket match would be different. Someone might believe the records of a team matter the most when it comes to its winning, but some consider the teams’ players to play the most important role in deciding the result. So, the application is built with these factors in mind, to make it more flexible, reliable, and easier to use.
                <br>
                <pre>
<b>
How to use it?</b>
To use the application, you just need to fill in all the relevant information the app asks for.
Follow the following steps to get your desired output:
1. Select the format of the match (Test, T20i, or ODI)
2. Select the batting team
3. Select the fielding team
4. Enter the list of playing 11 players of the batting team.
5. Enter the list of playing 11 players of the fielding team.
6. Enter the name of the Stadium, where the match is being held.
7. Enter the weightage (How much you think these factors weigh in teams’ win):
    • Players’ weightage (out of 1)
    • Ground weightage (out of 1)
    • Past (or record) weightage (out of 1)
<b>*Note that the sum of the three factors should not exceed 1</b>
8. What now? Just hit the <b>Predict button</b> to view the result.
</pre>
<pre>
<b>
We have 10 teams:</b>
So, you can use our tool for predicting the results of the matches held between any two of these teams in any format.
•  Australia
•  India
•  England
•  Pakistan
•  Afghanistan
•  Bangladesh
•  Zimbabwe
•  Sri Lanka
•  New Zealand
•  South Africa    
</pre>
<p>
    <b><u>How does it work?</u></b><br>
The application uses Python and its special libraries, to work with all the data extraction, and calculations to provide the desired results. It contains data of hundreds of international (capped) players, and thousands of international matches held till now, since 2010 across all formats. It creates datasets, based on the Effect of Grounds (or stadium) on teams’ games (their records), players’ stats, team vs team stats, tosses effect on the team, etc., and then goes through all these data, to predict with good accuracy. All the required inputs are made from the users’ end on the webpage, and then the backend comes into the picture, providing the most probable outcome. The application mostly uses statistical and descriptive analysis as its major chunk of calculations. The app not is easy to use, but also fun to see with decent designs and graphics to please the eyes of the users.

</p>
            </p>
        </div>
    </div>
    <div class="cc1" id="cc11">
        <div class="remove">
            <span class="text1">Hello there!</span>
            <span class="text2">This is CriCat</span>
        </div>
        <div class="enterlink">
            <a href="#" class="enter" onclick="introoff()">Let's Predict</a>
        </div>
        <div class="ball"></div>
        <div class="credit">
            Ⓒ created by BlackBox 2022
            <!--  Ⓒ created by Abhyuday Rai 2022 | Original Work-->
        </div>
    </div>
    <!-- <div class="footerkindathing">
        You cant Scroll down
    </div> -->
    <script>
        function defaultteam1() {
            document.getElementById('team1').value = "default";
            document.getElementById('team1').style.borderColor = "red";
        }
        function defaultteam2() {
            document.getElementById('team2').value = "default";
            document.getElementById('team2').style.borderColor = "red";
        }
        function warnIfNull() {
            var a = document.forms["match_data"]["team1"].value;
            var b = document.forms["match_data"]["team2"].value;
            var c = document.forms["match_data"]["ground"].value;
            var d = document.forms["match_data"]["tw"].value;
            var e = document.forms["match_data"]["gw"].value;
            var f = document.forms["match_data"]["pw"].value;
            if (a == null || a == "", b == null || b == "", c == null || c == "", d == null || d == "", e == null || e == "", f == null || f == "") {
                alert("Please Fill All Required Fields");
                return false;
            }
        }
        function introoff() {
            document.getElementById("cc11").style.display = "none";
        }
        function exit() {
            document.getElementById("helpbox").style.display = "none";
        }
        function comeon() {
            document.getElementById("helpbox").style.display = "inline";
        }
    </script>
</body>

</html>