@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Playfair+Display&family=Roboto+Mono&display=swap');

.bgpage{
    background-image: url("stdium11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);;
}
#logo{
    height: 140px;
    /* border-radius: 55%; */
    width: 140px;
    background-image: url("logo_transp.png");
    background-size: cover;
}
.main{
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 60px;
    background-color: rgba(24, 40, 40, 0.468);
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 50px;
    backdrop-filter: blur(4px);;
}
.toplogo{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 70px;
    margin-inline: auto;
    width: 800px;
    border-radius: 5px;
    /* background-color: rgba(37, 37, 37, 0.365); */
}
#result_btn{
    font-size: larger;
    height: 40px;
    width: 110px;
    font-weight: bold;
    background-color: chartreuse;
    border-radius: 5px;
    border-width: 4px;
    border-color: gold;
}
.fontstyle{
    color: white;
    font-size: large;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Kanit', sans-serif;
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Roboto Mono', monospace; */
}
.fstyl2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.teams{
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 325px;
    margin-top: 50px;
}
.inputteams{
    font-size: large;
    border-radius: 5px;
    height: 45px;
    margin-right: 50px;
    padding: 10px 15px;
    color: white;
    /* border: 1px dashed rgb(3, 15, 4); */
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
} 
.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.inputteamsl{
height: 250px;
width: 300px;
margin-inline: 50px;
border-radius: 45px;
border-width: 5px;
border-color: gold;
}
.teamlist{
    margin-left: 130px;
    margin-top: 42px;
    display: flex;
}
.constraints{
    padding-top: 30px;
    display:grid;
    grid-template-rows: 30px 30px 30px 30px;
    grid-row-gap: 30px;
}
.matchtype{
    margin-left: 500px;
    margin-top: 20px;
}
#matchtype{
    padding: 10px 15px;
    color: white;
    border-radius: 4px;
    background-color: rgba(3, 1, 1, 0.929);
}
.match{
    margin-inline: 20px;
}
.cnstr{
    border-radius: 5px;
    width: 160px;
}

